Q1

In [4]:
import statistics  # Importing statistics Library to use median and mean
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sortedAges=sorted(ages)                     #sorting and storing in new list
leastAge=min(ages)                          #finding min age
highestAge=max(ages)                        #finding max age
newAges = ages + [leastAge,highestAge]      #adding min and max age again back to the list
medianAge = statistics.median(newAges)      #finding median age
aveargeAge= statistics.mean(newAges)        #finding average age
ageRange=highestAge-leastAge                #finding age ranges of the list



print("The List after Sorting",sortedAges,"\nMinmum age of the list",leastAge,"\nMaximim Age of Lits",highestAge,
      "\nList after adding min and max age",newAges,"\nMedian age of the new list",medianAge,
      "\nAverage age of the new list",aveargeAge, "\nRange of ages in the list",ageRange
     )

The List after Sorting [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minmum age of the list 19
Maximim Age of Lits 26
List after adding min and max age [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median age of the new list 24.0
Average age of the new list 22.75
Range of ages in the list 7

Q2

In [5]:
dog ={}  #empty dictionary named dog
 
#adding data in the form of key value pairs to the dictionary
dog["name"] = "Bull"
dog["color"] = "Black"
dog["breed"] = "BullDog"
dog["legs"] = 4
dog["age"] = 10
    
#creating student dictionary with all the data at once 
student = {
  "first_name": "Mahesh",
  "last_name": "Uppu",
  "gender": "male",
  "age": 24,
  "skills": ['python','java','salesforce'],
  "country": "USA",
  "city": "Kansas",
  "address": "OverlandPark"
 }

studentDictionaryLength=len(student) #finding length of student dictionary
studentSkills=student.get('skills')  #getting skills value of the dictionary
student["skills"]=['c','python','salesforce','java'] #modifying skills value of the dictionary
studentkeys = list(student.keys()) #getting keys of the dictionary
studentValues=list(student.values()) #getting values of the dictionary
print("Length of Student Dictionary",studentDictionaryLength) 
print("Skills of the student",studentSkills) 
print("type of student skills",type(studentSkills)) 
print("student keys: ",studentkeys)
print("student values :",studentValues)

Length of Student Dictionary 8
Skills of the student ['python', 'java', 'salesforce']
type of student skills <class 'list'>
student keys:  ['first_name', 'last_name', 'gender', 'age', 'skills', 'country', 'city', 'address']
student values : ['Mahesh', 'Uppu', 'male', 24, ['c', 'python', 'salesforce', 'java'], 'USA', 'Kansas', 'OverlandPark']

Q3

In [6]:
brothers = ("pavan", "suman", "raman") #brothers tuple creation
sisters = ("laksmi", "simran", "deepika") #sisters tuple creation
siblings = brothers+sisters  #creating sibiling by combining both brothers and sisters
print("brothers tuple",brothers) 
print("sisters tuple",sisters)   
print("siblings before adding father and mother",siblings)
siblingcount=len(siblings) #finding siblings count before adding father and mother
tempconversion = list(siblings)
tempconversion.append("Ramana") #adding bother father and mothers names individually after coverting to list
tempconversion.append("Kumari")
siblings=tuple(tempconversion)  # converting back to tuple
family_members=tuple(siblings)
print("Count of Siblings :",siblingcount)
print("Siblings after modification ",siblings)
print("Family members tuple",family_members)

brothers tuple ('pavan', 'suman', 'raman')
sisters tuple ('laksmi', 'simran', 'deepika')
siblings before adding father and mother ('pavan', 'suman', 'raman', 'laksmi', 'simran', 'deepika')
Count of Siblings : 6
Siblings after modification  ('pavan', 'suman', 'raman', 'laksmi', 'simran', 'deepika', 'Ramana', 'Kumari')
Family members tuple ('pavan', 'suman', 'raman', 'laksmi', 'simran', 'deepika', 'Ramana', 'Kumari')

Q4

In [7]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Original IT Companies",it_companies)
itCompaniesLength = len(it_companies) #getting length of it_companies
it_companies.add("Twitter")
new_companies = ["Salesfore","TATA","TCS"]
it_companies.update(new_companies) #adding multiple companies to the set
print("IT Companies after adding new companies",it_companies)

it_companies.remove("Facebook") #removing one item from IT Companies

#Difference between discard and remove

'''
 discard() in Python, removes the element from the set only if the element is present in the set
  If the element is not present in the set, then no error or exception is raised and the original set is printed.
  
 remove() in Python, removes the element from the set only if the element is present in the set,
 just as the discard() method does but If the element is not present in the set, then an error or exception is raised.
'''

jionedSets=A.union(B) #jioning A&B
intersectedset= A.intersection(B) #intersection of A and B
subset_check= A.issubset(B)  #checkAing A for subset condition with B
disjoint_check= A.isdisjoint(B) #checking for disjiont
aWithBset=A.union(B) #jioning a with B
bWithAset= B.union(A) #jiioning bwith a

print("joining of A and B: ", jionedSets)
print("intersection of A and B: ", intersectedset)
print("Is A subset of B?", subset_check)
print("Are A and B disjoint sets? ", disjoint_check)
print("After joining A With B: ",aWithBset, "and joining B with A: ",bWithAset)

#What is the symmetric difference between A and B
aSymmerticDifference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", aSymmerticDifference)

del A,B #deleting the sets


I = set(age) #Converting the ages to a set and comparing the length of the list and the set
print("Is length of list and set is same :", len(I)==len(age))

Original IT Companies {'Facebook', 'Apple', 'Google', 'Microsoft', 'Oracle', 'Amazon', 'IBM'}
IT Companies after adding new companies {'Twitter', 'Microsoft', 'Amazon', 'Google', 'TCS', 'Apple', 'Oracle', 'TATA', 'Facebook', 'IBM', 'Salesfore'}
joining of A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A and B:  {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint sets?  False
After joining A With B:  {19, 20, 22, 24, 25, 26, 27, 28} and joining B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Is length of list and set is same : False

Q5

In [8]:
radius = 30
pi = 3.14

_area_of_circle_= pi*radius*radius #caluclating area ciecle
print("Area of the default circle is: ", _area_of_circle_)

_circum_of_circle_= 2*pi*radius #caluclating the circumference
print("Circumference of the default  circle is: ", _circum_of_circle_)


radius = float(input ("Enter the radius of the circle : ")) #Taking radius as user input
Area= pi*radius*radius #calculating the area
print ("The area of the circle is", Area)

Area of the default circle is:  2826.0
Circumference of the default  circle is:  188.4
Enter the radius of the circle : 20
The area of the circle is 1256.0

Q6

In [9]:
sentence =  "I am a teacher and I love to inspire and teach people"  #given sentence
uniqueWords=set(sentence.split(" "))  #splitting words and finidng unique words out of them
print("Unique words in the given set are:",uniqueWords)
print("Number of unique words used in the sentence",len(uniqueWords))

Unique words in the given set are: {'and', 'teach', 'am', 'to', 'inspire', 'teacher', 'I', 'people', 'a', 'love'}
Number of unique words used in the sentence 10

Q7

In [10]:
print(" \033[1m Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t250\t\tFinland\t\tHelsinki")

  Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

Q8

In [11]:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius {} is {} sq.meters".format(radius, int(area)))

The area of a circle with radius 10 is 314 sq.meters

Q9

In [14]:
lb_kg_conversion= 0.45

enteredValues=int(input('enter the number of students'))
caluclatedValues=[]

for i in range(enteredValues):
    caluclatedValues.append(int(input('enter the element ')))


output=[lb_kg_conversion*i for i in caluclatedValues ]
print(output)

enter the number of students2
enter the element 12
enter the element 24
[5.4, 10.8]